@using System.Globalization
@model IQueryable<Product>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <h2>UI Culture: @CultureInfo.CurrentUICulture.DisplayName</h2>

    <ul>
        @foreach (var p in Model ?? Enumerable.Empty<Product>())
        {
            <li>
                <h3>@p.Name</h3>
                <div><strong>@p.Category</strong></div>
                <span>@p.Description</span>
                <h4>@p.Price.ToString("C2", CultureInfo.CurrentUICulture)</h4>
            </li>
        }
    </ul>
</body>

</html>